@use "../../styles/variables" as variables;

.socialsWrapper {
  display: inline-flex;
  justify-content: flex-start;
  gap: 2em;
  width: 100%;
}

.socialLink {
  .socialIcon {
    width: 1.8em;
    height: 1.8em;
    filter: variables.$filter-secondary;
  }

  &:focus,
  &:hover {
    .socialIcon {
      filter: variables.$filter-highlight-secondary;
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 750px) {
  .socialIcon {
    width: 1.6rem;
    height: 1.6rem;
  }

  .socialsWrapper {
    gap: 1.6em;
  }
}

@media only screen and (max-width: 500px) {
  .socialIcon {
    width: 1.3rem;
    height: 1.3rem;
  }

  .socialsWrapper {
    gap: 1.3em;
  }
}
