@use "styles/variables" as variables;
@use "styles/mixins" as mixins;

.mainWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: variables.$page-max-width;
  min-height: 100vh;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  overflow: hidden;
  margin: 0 auto;

  @include mixins.respond-to("medium") {
    padding-left: 1em;
    padding-right: 1em;
  }

  @include mixins.respond-to("small") {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.contentWrapper {
  width: 100%;
}
