@use "styles/variables" as variables;
@use "styles/mixins" as mixins;

.container {
  padding: 0 2rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card_content {
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
}

.card_image {
  width: 100%;
  max-width: 100%;
  max-inline-size: 100%;
  aspect-ratio: 5/3;
  block-size: auto;
  object-fit: cover;
  height: auto;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 7em;

  @include mixins.respond-to('large') {
    gap: 5vh;
  }
}

.hero_section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3em;

  @include mixins.respond-to('large') {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .hero_wrapper__left {
    display: flex;
    flex-direction: column;
    max-width: 100%;

    @include mixins.respond-to('large') {
        align-items: center;
        justify-content: center;
    }

    .hero_text {
      text-align: left;
      font-size: clamp(1.125rem, 0.8125rem + 1.25vw, 1.75rem);

      @include mixins.respond-to('large') {
        text-align: center;
      }
    }

    .hero_headline {
      text-align: left;
      @include mixins.respond-to('large') {
        text-align: center;
      }
    }
  }

  .hero_picture {
    justify-self: end;

    @include mixins.respond-to('large') {
      display: flex;
      justify-content: center;
    }

    img {
      aspect-ratio: 1/1;
      block-size: auto;
      object-fit: cover;
      max-width: 100%;
      min-width: 50%;
      height: auto;
      border-radius: 50%;
      border: variables.$border-regular;

      @include mixins.respond-to('large') {
        max-height: 500px;
        height: auto;
      }

      @include mixins.respond-to('medium') {
        max-height: 400px;
        width: auto;
      }

      @include mixins.respond-to('small') {
        max-height: 300px;
        width: auto;
      }
    }
  }
}



.gradient_heading {
  font-family: variables.$font-highlight;
  letter-spacing: 0.0885em;
  text-transform: uppercase;
  font-size: clamp(2rem, 1.375rem + 2.5vw, 3.25rem);
}

.gradient_font {
  font-weight: bolder;
  letter-spacing: -.005px;
  background-color: variables.$color-highlight;
  background-image: linear-gradient(45deg,
          variables.$color-highlight, variables.$color-highlight-secondary);
  line-height: 1em;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page_card_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: flex-start;
  align-items: center;
  overflow-x: scroll;

  @include mixins.respond-to('large'){
    padding-left: .25em;
    padding-right: .25em;
    padding-bottom: 1em;
  }

  max-width: 100%;
  gap: 2em;
}

.page_card_wrapper::-webkit-scrollbar {
  height: 12px;
}

.page_card_wrapper::-webkit-scrollbar-thumb,
.page_card_wrapper::-webkit-scrollbar-track {
  border-radius: 92px;
}

.page_card_wrapper::-webkit-scrollbar-thumb, .cards::-webkit-scrollbar-track {
  background: variables.$color-highlight-secondary;
}

.page_card {
  position: relative;
  display: flex;
  min-width: 280px;
  max-width: 280px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 370px;
  overflow: hidden;
  border-radius: 10px;
  border: variables.$border-regular;
  scroll-snap-align: start;
}

.page_card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.card_link {
  text-decoration: none !important;
}

.card_title {
  font-family: variables.$font-highlight;
  font-size: 1.25em;
  line-height: 1.1em;
  z-index: 5;
}

.card_text {
  font-family: variables.$font-regular;
  font-size: .9em;
  line-height: 1.5em;
}

.page_card:hover {
  border: variables.$border-regular-hover;
}

.page_card:hover::after, .page_card:focus::after {
  background-image: linear-gradient(to right, variables.$color-highlight-secondary 10%, variables.$color-highlight 90%);
  mix-blend-mode: color-burn;
  opacity: .5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.page_wrapper {
  padding-top: variables.$landing-padding-top;

  @include mixins.respond-to('large') {
    padding-top: variables.$landing-padding-top-large;
  }

  @include mixins.respond-to('medium') {
    padding-top: variables.$landing-padding-top-medium;
  }

  @include mixins.respond-to('small') {
    padding-top: variables.$landing-padding-top-small;
  }
}